In [1]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)

# Data preprocessing

## Reading stats & scorecards **.csv**s

In [2]:
scorecards = pd.read_csv("../scorecards/OCR_parsed_scorecards/scorecards.csv", sep=";")
stats = pd.read_csv("../stats/stats_raw.csv", sep=";")

scorecards.head(3)

,red_fighter_name,blue_fighter_name,event_date,red_fighter_total_pts,blue_fighter_total_pts
0,POLIANA BOTELHO,LUANA CAROLINA,01/05/2021,29 28 28,28 29 29
1,KAI KAMAKA,TJ BROWN,01/05/2021,28 28 30,29 29 27
2,MERAB DVALISHVILI,CODY STAMANN,01/05/2021,30 29 29,27 28 28

In [3]:
stats.head(3)

,red_fighter_name,blue_fighter_name,event_date,red_fighter_nickname,blue_fighter_nickname,red_fighter_result,blue_fighter_result,method,round,time,...,red_fighter_sig_str_body_pct,blue_fighter_sig_str_body_pct,red_fighter_sig_str_leg_pct,blue_fighter_sig_str_leg_pct,red_fighter_sig_str_distance_pct,blue_fighter_sig_str_distance_pct,red_fighter_sig_str_clinch_pct,blue_fighter_sig_str_clinch_pct,red_fighter_sig_str_ground_pct,blue_fighter_sig_str_ground_pct
0,ILIA TOPURIA,MAX HOLLOWAY,26/10/2024,El Matador,Blessed,W,L,KO/TKO,3,1:34,...,14,16,20,24,94,100,0,0,5,0
1,ROBERT WHITTAKER,KHAMZAT CHIMAEV,26/10/2024,The Reaper,Borz,L,W,Submission,1,3:34,...,0,33,100,0,100,0,0,0,0,100
2,MAGOMED ANKALAEV,ALEKSANDAR RAKIC,26/10/2024,-,Rocket,W,L,Decision - Unanimous,3,5:00,...,40,16,23,64,90,94,9,5,0,0

## Converting American date format into European date format

In [4]:
def date_month_swap(date):
    month, day, year = date.split("/")
    return f"{day}/{month}/{year}"


# Uncommenting because this was already applied to the dataset
# scorecards['event_date'] = scorecards['event_date'].apply(lambda x: date_month_swap(x))

## Converting alphabetical month to numerical

In [5]:
months = {
    "January": "01",
    "February": "02",
    "March": "03",
    "April": "04",
    "May": "05",
    "June": "06",
    "July": "07",
    "August": "08",
    "September": "09",
    "October": "10",
    "November": "11",
    "December": "12",
}


def convert_month_to_numerical(date):
    month, day, year = date.replace(",", "").split()
    return f"{day}/{months[month]}/{year}"


# Uncommenting because this was already applied to the dataset
# stats['event_date'] = stats['event_date'].apply(lambda x: convert_month_to_numerical(x))

## Converting months and dates from `m/d` to `mm/dd` format

In [6]:
def month_conversion(date):
    date = date.replace(" ", "")
    day, month, year = date.split("/")

    if int(day) < 10 and not day.startswith("0"):
        day = f"0{day}"
    if int(month) < 10 and not month.startswith("0"):
        month = f"0{month}"

    return f"{day}/{month}/{year}"


# Uncommenting because this was already applied to the dataset
# scorecards['event_date'] = scorecards['event_date'].apply(lambda x: month_conversion(x))
# stats['event_date'] = stats['event_date'].apply(lambda x: month_conversion(x))

In [7]:
scorecards["event_date"][1043:1050]

1043    14/11/2020
1044    14/11/2020
1045    14/11/2020
1046    14/11/2020
1047    14/11/2020
1048    14/11/2020
1049    14/11/2020
Name: event_date, dtype: object

# Merging

In [8]:
merged_stats_scorecards = pd.merge(
    stats,
    scorecards,
    how="left",
    on=["red_fighter_name", "blue_fighter_name", "event_date"],
)
merged_stats_scorecards.to_csv("merged_stats_n_scorecards.csv", index=False)